.p-quiz-box:not(:first-of-type) {
  margin-top: 80px;
}

.p-quiz-box__answer__correct.is-correct {
  background-color: #fff2f5; /* 正解の背景色 */
  display: block; /* 表示状態 */
}

.p-quiz-box__answer__correct.is-incorrect {
  background-color: #eff2f5; /* 不正解の背景色 */
  display: block; /* 表示状態 */
}